/*============================================================================================================
 GLOBAL - GLOBAL - GLOBAL - GLOBAL - GLOBAL - GLOBAL - GLOBAL - GLOBAL - GLOBAL - GLOBAL - GLOBAL - GLOBAL -  
============================================================================================================*/
html {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  scroll-behavior: smooth;
  }

  body {
    width: 100%;
  }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  }


  ::selection{
  color: white;
  background: #763434;
  }


  /*Fonts and typogrfi ==========================================================================================================*/


  h1 {
    font-size: 20px;  
  }

  h2 {
  font-size: 32px;
  font-family: 'Playfair Display', serif;
  color: #000E32; 
  font-weight: 700;
}

h3 {
  font-size: 25px;
  padding-bottom: 1rem;
  font-weight: 400;
  text-align: start;
  color: #763434;
}

h4 {
  font-size: 18px;
}

p {
  font-size: 18px;
}

a {
  font-size: 18px;
  text-decoration: none;
  color: black;
}

/*============================================================================================================
 Billeder - Billeder - Billeder -Billeder - Billeder - Billeder - Billeder - Billeder - Billeder - Billeder 
============================================================================================================*/

.img_byret {
  width:  1440px;
  height: 400px;
  background-image: url(images/forsidebillede.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img_loven {
  background-image: url(images/samtykkeloven.webp);
  width:  1440px;
  height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img_support1 {
  background-image: url(images/holdinghands.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.img_support2 {
  background-image: url(images/openhands.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.img_forening {
  background-image: url(images/ligeret.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.img_box {
  width: 100%;
  height: 100%;
  background-image: url(images/Stories/story1.jpg);
  animation: fade-image 120s infinite;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@keyframes fade-image {
  0% {
    background-image: url(images/Stories/story1.jpg);
  
  }
  
  10% {
    background-image: url(images/Stories/poster1.jpg);
  
  }
  
  
  20% {
    background-image: url(images/Stories/story2.jpg);
  
  }

  30% {
    background-image: url(images/Stories/poster2.jpg);
  
  }
  
  
  40% {
    background-image: url(images/Stories/story3.jpg);
  
  }

  50% {
    background-image: url(images/Stories/poster3.jpg);
   
  }

  
  60% {
    background-image: url(images/Stories/story4.jpg);
  }

  70% {
    background-image: url(images/Stories/poster4.jpg);
  }

  80% {
    background-image: url(images/Stories/story5.jpg);
  }

  90% {
    background-image: url(images/Stories/poster5.jpg);
  }

  100% {
    background-image: url(images/Stories/story1.jpg);
  }

}
/*Boxes and containers======================================================================================================*/
  .container {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    display:flex;
    justify-content: center;
  }

  .box_block {
    width: 100%;
    display: block;
  }

  .box_faq {
    max-width: 600px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin: 2rem auto;
    padding: 1rem;
    line-height: 2rem;
  }

  .box_flex {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .box_half {
    width: 50%;
    display: flex;
    justify-content: center;
    }
  

  .box_info {
    width: 440px;
    height: 440px;
    background-color: #763434;
    color: white;
    position: absolute; 
    top: 10%; 
    left: 10%; 
    z-index: 2;
    display: block;
    justify-content: center;
    text-align: center;
    padding: 1rem;
  }
  
  .box_large {
    width:55%;
    display: flex;
    justify-content: center;
  }

  .box_main {
    background-color: #000e32;
    width: 40%;
    justify-content: flex-end;
    display: flex;
  }

  .box_main_text {
    width: 60%;
    display: flex;
    justify-content: center;
  }

  .box_padding {
  padding: .2rem 0;
  }

  .box_signup {
    width: 300px;
    height: 250px;
    background-color: white;
    color: black;
    display: block;
    justify-content: center;
    text-align: center;
    padding: 1rem;
  }

  .box_small {
    width:45%;
    display: flex;
    justify-content: center;
  }
  
  .box_text {
    align-items: left;
    line-height: 2rem;
    text-align: left;
    padding: 2rem 1rem;
    max-width: 600px;

  }


  .headline_page {
    max-width: 1440px;
    display: flex;
    text-align: left;
    padding: 4rem 0 2rem 3rem;
    margin: 0 auto;
  }

  .lightgrey {
    background-color: #e6e7eb;
    width: 100%;
  }
  .pink {
    background-color: #d9c6c6;
    width: 100%;
  }

/*============================================================================================================
 HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER 
============================================================================================================*/
 
header {
  max-width: 1440px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color:#f4f4f4;
  color:black;
  width: 100%;  
  display: flex;
  }
 
/*HEADER LEFT*/  


  .header_left{
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
  }
  
  .logo img {
    display: block;

  }

  .header-text {
    text-align: left;
    justify-items: center;
    margin-left: 1rem;
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    }
  
/*HEADER NAVBAR*/
  nav {
    display: flex;
  }
  
  .header_center {
    display: flex;
    list-style: none;
  }
  
  .header_center li {
    padding: 0 20px;
    font-size: 19px;
  }
  
   .header_center a:hover,
   .nav-links-mobile a:hover,
   .header_center a.active,
   .nav-links-mobile a.active {
     color: gray;
   }

   .header_center a, .nav-links-mobile a {
    color: inherit;
    font-weight: inherit;
    transition: color 200ms ease-in;
    transition-timing-function: ease-in;
    transition-delay: 300ms;
   }

 
  /*HEADER NAVBAR MOBILE*/
   
.menu-button {
    display: none;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color:gray;
    width: 50px;
    font-size: 24px;
    margin-right: 20px;
  }
  
  .nav-links-mobile {
    display: none;
  }

  /*HEADER BUTTON*/
  .member_button { 
    background-color: #763434;
    border-radius: 5px;
    font-size: 18px;
    color: #fff;
    padding: 5px;
    border: 1px solid #763434;
    min-width: 150px;
    cursor: pointer;
  }


.member_button:hover, .box_signup button:hover {
  background-color: #054D03;
  transition: background-color 200ms;
  transition-timing-function: ease-in;
  transition-delay: 100ms;
  border: 1px solid #054D03;;
}


.member_button:active, .box_signup button:active  {
  background-color: green;
  transition: background-color 100ms, color 100ms;
  transition-timing-function: ease-in;
  transition-delay: 0;
  color: white;
  border: 1px solid green;
}

/*Floating member button for index page*/
 .container .member_button {
    position: absolute; 
    top: 80%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 2;
    box-shadow: none;
} 

/*============================================================================================================
 INDEX - INDEX - INDEX - INDEX - INDEX - INDEX - INDEX - INDEX - INDEX - INDEX - INDEX - INDEX - INDEX - INDEX 
============================================================================================================*/




.headline_intro {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Aligns content vertically */
  height: 100%; /* Set the height of the element */
  text-align: center; /* Centers the text horizontally */
}

.headline_intro p {
  font-size: 60px;
  font-family: 'Playfair Display', serif;
  color: #fff;
  line-height: 4rem;
}


/*============================================================================================================
 FORENING.HTML - FORENING.HTML - FORENING.HTML - FORENING.HTML - FORENING.HTML
 ============================================================================================================*/



/*============================================================================================================
SAMTYKKELOV.HTML - SAMTYKKELOV.HTML - SAMTYKKELOV.HTML - SAMTYKKELOV.HTML - SAMTYKKELOV.HTML - SAMTYKKELOV.HTML   
 ============================================================================================================*/

.date {
  min-width: 75px;
}





#more1, #more2, #more3, #more4, #more5, #more6, #more7, #more8, #more9, #more10, #more11, #more12, #more13, #more14, #more15, #more16  {display: none;}








/*TIMELINE - TIMELINE */
 .wrapper{
  max-width: 1440px;
  margin: 50px auto;
  padding: 0 20px;
  position: relative;
}

.wrapper .center-line{
  position: absolute;
  height: 100%;
  width: 4px;
  background: lightgray;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
}
.wrapper .row{
  display: flex;
}

.wrapper .row-1{
  justify-content: flex-start;
}
.wrapper .row-2{
  justify-content: flex-end;
}
.wrapper .row section{
  background: #fff;
  border-radius: 5px;
  width: calc(50% - 40px);
  padding: 20px;
  position: relative;
  background-color: #e6e7eb;
  box-shadow: 5px 5px 10px lightgrey;
}

.bottom button {
  text-decoration: none;
  background: #763434;
  color: #fff;
  padding: 7px 15px;
  border-radius: 5px;
  min-width: 100px;
  font-weight: 400;
  transition: all 0.3s ease;
  border: #763434;
}

.row a {
  text-decoration: none;
  color: #763434;
  transition: all 0.3s ease;
  font-size: 15px;
 }

.row a:hover {
  text-decoration: underline;
  color: grey;
}

.wrapper .row section::before{
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background:grey;
  top: 28px;
  z-index: -1;
  transform: rotate(45deg);
}
.row-1 section::before{
  right: -7px;
}
.row-2 section::before{
  left: -7px;
}
.row section .icon,
.center-line .scroll-icon{
  position: absolute;
  background: grey;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 2rem;
  border-radius: 50%;


}
.center-line .scroll-icon{
  bottom: 0px;
  left: 50%;
  font-size: 25px;
  transform: translateX(-50%);
}

.row-1 section .icon{
  top: 15px;
  right: -60px;
}
.row-2 section .icon{
  top: 15px;
  left: -60px;
}
.row section .details,
.row section .bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row section .details .title{
  font-size: 25px;
  font-weight: 400;
  color: #763434;
  width: 85%;
}

.row section .details .date{
width: 15%;
text-align: right;
}

.row section p{
  margin: 10px 0 17px 0;
  line-height: 2rem;
}




@media(max-width: 440px){
  .wrapper .center-line,
  .row section::before,
  .row section .icon{
    display: none;
  }
  .wrapper .row{
    margin: 10px 0;
  }
}


/*============================================================================================================
 MEDLEM.HTML
 ============================================================================================================*/
 label, input {
  display: block;
  margin-bottom: 10px;
}
input[type="submit"] {
  margin-top: 20px;
}





/*============================================================================================================
 FOOTER - FOOTER - FOOTER - FOOTER - FOOTER - FOOTER - FOOTER - FOOTER - FOOTER - FOOTER - FOOTER - FOOTER - 
 ============================================================================================================*/
  footer {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 100px;
    font-size: 11px;
    background-color: #f4f4f4;
    padding: 20px;
    margin-top: 3rem;
  }

  .footer_left, .footer_center, .footer_right {
  width: 33%;
  align-items: center;
  display: flex;

}
  .footer_left{
    justify-content: flex-start;
} 

.footer_center{
  justify-content: center;
} 

.footer_right{
  justify-content: flex-end;
} 

footer img {
  cursor: pointer;
  margin-right: 1rem;
}

footer img:hover {
  opacity: 0.6;
}

footer p {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  font-style: bold;
  color: #000e32;
}






/*============================================================================================================
 MEMBER - MEMBER - MEMBER - MEMBER - MEMBER - MEMBER - MEMBER - MEMBER - MEMBER - MEMBER - MEMBER - MEMBER -  
 ============================================================================================================*/
 .box_signup {
  width: 80%;
  height: auto;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  margin: 1rem auto;
  padding: 20px;
}



form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  display: none;
}

input {
  width: 80%;
  height: 40px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
  text-align: center;
}

input::placeholder {
  text-align: center;
}

input[type="text"]::placeholder {
  color: gray;
  font-style: italic;
}

.box_signup button {
  width: 80%;
  height: 40px;
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  align-self: center;
}



/*============================================================================================================
 ADJUST TO MOBILE - ADJUST TO MOBILE - ADJUST TO MOBILE - ADJUST TO MOBILE - ADJUST TO MOBILE - ADJUST TO MOBILE 
 ============================================================================================================*/
@media screen and (max-width: 1060px) {
  /*Global */
  .header-text, .logo, .header_center, .footer_center {
    display: none;
  }
  
  .headline_intro p {
font-size: 40px;
  }

  .container {
    width: 100%;
    margin: 0;
    padding: 0;
    display:block;
  }

  .box_half, .box_small, .box_large, .box_main, .box_text, .box_text_80, .box_main_text{
    width: 100%;
    text-align: center;
    padding: 0;

  }

  .box_text, .box_text_80 {
    padding: 0.5rem;
    display: block;
    text-align: start;
    line-height: 2rem;
  }


  .headline_page {
    padding: 1rem;
    text-align: center;
    justify-content: center;
  }

  /*HEADER - HEADER - HEADER -*/
  header {
    padding: 20px;
  }

  .header-text {
    text-align: center;
    margin-left: 0;
    font-size: 33px;
  }

  .menu-button {
    display: block;
  }
  
  nav {
    position: fixed;
    top: 75px;
    left: -100%;
    width: 60%;
    height: 100vh;
    background-color:white;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    transition: all 0.3s ease;
    border-radius: 5px;
    border: 1px solid #763434;
  }

  nav.active {
    left: 0;
  }

  .nav-links-mobile {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: center;
  }

  .nav-links-mobile li {
    padding: 20px;
  }

  .header_left {
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  /*INDEX.HTML - INDEX.HTML - INDEX.HTML - */  
  .box_main{
    position: relative;
    background-image: url(images/forside.webp);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100px;
    overflow: hidden; /* crop the top and bottom of the image */
    }    

    .box_main:before {
      content: "";
      display: block;
      padding-bottom: 56.25%; /* This creates a 16:9 aspect ratio */
    }
    
    .box_main .headline_intro {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      text-align: center;
      font-size: 30px;
      width: 100%;
    }
  
  /*samtykkeloven */

  .box_info {
  width: 100%;
  height: 440px;
  background-color: #763434;
  color: white;
  display: block;
  justify-content: center;
  text-align: center;
  padding: 0;
}


/*Timeline*/

  .wrapper .row{
    margin: 1rem;
  }
  .wrapper .row section{
    width: 100%;
  }
  .row-1 section::before, .row-2 section::before, .row-1 section .icon, .row-2 section .icon {
    left: 10px;
    display: hidden;
    z-index: -100;
  }
 

  i, .scroll-icon {
    display:hidden;
  }

}


