/*============================================================================================================
 GLOBAL - GLOBAL - GLOBAL - GLOBAL - GLOBAL - GLOBAL - GLOBAL - GLOBAL - GLOBAL - GLOBAL - GLOBAL - GLOBAL -  
============================================================================================================*/
html {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  font-family: 'Roboto', sans-serif;
  }

  body {
    zoom: 1;
  }
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  }

/*Boxes and containers======================================================================================================*/
  .container {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    display:flex;
    }

      .box_half {
        width: 50%;
        display: block;
        padding: 1rem;
     }

      .box_small {
        width:45%;

      }

      .box_large {
        width:55%;
      }
      
      .box_text {
        align-items: center;
        line-height: 2rem;
        text-align: justify;
        padding: 2rem;
      }

      .box_main {
        background-color: #000e32;
        width: 40%;
        padding: 2rem;
        justify-content: flex-end;
        display: flex;
      }

      .box_info {
        width: 440px;
        height: 440px;
        background-color: #763434;
        color: white;
        position: absolute; 
        top: 50%; 
        left: 25%; 
        transform: translate(-50%, -50%); 
        z-index: 2;
        display: block;
        justify-content: center;
        text-align: center;
        padding: 1rem;
      }

      .box_signup {
        width: 300px;
        height: 250px;
        background-color: white;
        color: black;
        display: block;
        justify-content: center;
        text-align: center;
        padding: 1rem;
      }

  .headline_page {
    max-width: 1440px;
    display: flex;
    text-align: left;
    padding: 6rem 0 2rem 3rem;
    margin: 0 auto;
  }

  .space_page {
    max-width: 1440px;
    display: flex;
    text-align: left;
    padding: 6rem 0 0 0;
    margin: 0 auto;
  }

  .lightgrey {
    background-color: #e6e7eb;
    width: 100%;
  }
  .pink {
    background-color: #d9c6c6;
    width: 100%;
  }
  
  .image_container {
    max-width: 1440px; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    justify-content: center;
    align-content: center;
    display: flex;
    z-index: 1;
    position: relative;
  }

  /*Billeder======================================================================================================*/
  .img_byret {
    background-image: url(images/forside.webp);
    width:  1440px;
    height: 400px;
  }

  .img_loven {
    background-image: url(images/samtykkeloven.webp);
    width:  1440px;
    height: 600px;
  }

  .box_image_byret {
    background-image: url(Image/byret.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 100%;
    height: 100%;
  }

  .box_img_support1 {
    background-image: url(images/støtte1.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 
    width: 100%;
    height: 100%;
  }

  .box_img_support2 {
    background-image: url(images/støtte2.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 100%;
    height: 100%;
  }




/*Fonts and typogrfi ==========================================================================================================*/
  h2 {
    font-size: 32px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
  }

  h3 {
    font-size: 32px;
    padding-bottom: 1rem;
    font-weight: 400;
    color: #763434;
    text-align: start;

  }


  p {
    font-size: 18px;

  }

  a {
    font-size: 18px;
    text-decoration: none;
    color: black;
  }

/*============================================================================================================
 HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER 
============================================================================================================*/
 
header {
  max-width: 1440px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color:#f4f4f4;
  color:black;
  width: 100%;  
  display: flex;
  }
 
/*HEADER LEFT*/  


  .header_left{
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
  }
  
  .logo img {
    display: block;

  }

  .header-text {
    text-align: left;
    margin-left: 1rem;
    font-family: 'Playfair Display', serif;
    }
  
/*HEADER NAVBAR*/
  nav {
    display: flex;
  }
  
  .header_center {
    display: flex;
    list-style: none;
  }
  
  .header_center li {
    padding: 0 20px;
    font-size: 19px;
  }
  
   .header_center a:hover,
   .nav-links-mobile a:hover,
   .header_center a.active,
   .nav-links-mobile a.active 
   {
     color: #763434;
   }

   .header_center a, .nav-links-mobile a {
    color: inherit;
    transition: color 200ms;
    transition-timing-function: ease-in;
    transition-delay: 300ms;
   }

 
  /*HEADER NAVBAR MOBILE*/
   
.menu-button {
    display: none;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color:gray;
    width: 50px;
    font-size: 24px;
    margin-right: 20px;
  }
  
  .nav-links-mobile {
    display: none;
  }

  /*HEADER BUTTON*/
  .member_button { 
    background-color: #763434;
    border-radius: 5px;
    font-size: 22px;
    color: #fff;
    padding: 15px;
    border: 1px solid #763434;;
    min-width: 200px;
    height: 53;
    cursor: pointer;
  }


.member_button:hover {
  background-color: green;
  transition: background-color 200ms;
  transition-timing-function: ease-in;
  transition-delay: 100ms;
}

.member_button:active {
  background-color:greenyellow;
  transition: background-color 100ms, color 100ms;
  transition-timing-function: ease-in;
  transition-delay: 0;
  color: black;
}

/*Floating member button for index page*/
 .container .member_button {
    position: absolute; 
    top: 80%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 2;
    box-shadow: none;
} 

/*============================================================================================================
 INDEX - INDEX - INDEX - INDEX - INDEX - INDEX - INDEX - INDEX - INDEX - INDEX - INDEX - INDEX - INDEX - INDEX 
============================================================================================================*/

.introbox {
display: flex;
}


.headline_intro {
  max-width: 250px;
  text-align: right;
  font-size: 80px;
  font-family: 'Playfair Display', serif;
  color: #fff;
}

/*============================================================================================================
 KONTAKT.HTML - KONTAKT.HTML - KONTAKT.HTML - KONTAKT.HTML - KONTAKT.HTML - KONTAKT.HTML - KONTAKT.HTML - KONTAKT.HTML 
 ============================================================================================================*/

table {
  margin-left: 6rem;
}

table td {
  padding-right: 6rem;
}


/*============================================================================================================
 FOOTER - FOOTER - FOOTER - FOOTER - FOOTER - FOOTER - FOOTER - FOOTER - FOOTER - FOOTER - FOOTER - FOOTER - 
 ============================================================================================================*/
  footer {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 100px;
    font-size: 11px;
    background-color: #f4f4f4;
    padding: 20px;
    margin-top: 3rem;
  }

  .footer_left, .footer_center, .footer_right {
  width: 33%;
  align-items: center;
  display: flex;

}
  .footer_left{
    justify-content: flex-start;
} 

.footer_center{
  justify-content: center;
} 

.footer_right{
  justify-content: flex-end;
} 

footer img {
  cursor: pointer;
  margin-right: 1rem;
}

footer img:hover {
  opacity: 0.6;
}

footer p {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  font-style: bold;
  color: #000e32;
}


/*============================================================================================================
 MEMBER - MEMBER - MEMBER - MEMBER - MEMBER - MEMBER - MEMBER - MEMBER - MEMBER - MEMBER - MEMBER - MEMBER -  
 ============================================================================================================*/
#id {
  width:80%;
}

/*============================================================================================================
 ADJUST TO MOBILE - ADJUST TO MOBILE - ADJUST TO MOBILE - ADJUST TO MOBILE - ADJUST TO MOBILE - ADJUST TO MOBILE 
 ============================================================================================================*/
@media screen and (max-width: 900px) {

  /*Global */
  .header-text, .logo, .header_center, .footer_center, .space_page {
    display: none;
  }
  
  .container {
    width: 100%;
    margin: 0;
    padding: 0;
    display:block;
  }

  .box_half, .box_small, .box_large, .box_main, .box_text{
    width: 100%;
    text-align: center;
    padding: 0;
  }

  .box_text {
    padding: 0.5rem;

    display: block;
    text-align: start;
    line-height: 2rem;
  }

  .image_container {
    width: 100%;
  }

  .headline_page {
    padding: 1rem;
    text-align: center;
    justify-content: center;
  }

  /*HEADER - HEADER - HEADER -*/
  header {
    padding: 20px;
  }

  .header-text {
    text-align: center;
    margin-left: 0;
    font-size: 33px;
  }

  .menu-button {
    display: block;
  }
  
  nav {
    position: fixed;
    top: 158px;
    left: -100%;
    width: 40%;
    height: 100vh;
    background-color:white;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    transition: all 0.3s ease;
    border-radius: 5px;
    border: 1px solid #763434;
  }

  nav.active {
    left: 0;
  }

  .nav-links-mobile {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: center;
  }

  .nav-links-mobile li {
    padding: 20px;
  }

  .header_left {
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  /*INDEX.HTML - INDEX.HTML - INDEX.HTML - */  
  .box_main{
    position: relative;
    background-image: url(images/forside.webp);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100px;
    overflow: hidden; /* crop the top and bottom of the image */
    }    

    .box_main:before {
      content: "";
      display: block;
      padding-bottom: 56.25%; /* This creates a 16:9 aspect ratio */
    }
    
    .box_main .headline_intro {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      text-align: center;
      font-size: 30px;
      width: 100%;
    }
 
    

  
 

   /*MENU on the left*/


  
  /*samtykkeloven i tal*/

  .box_info {
  width: 100%;
  height: 440px;
  background-color: #763434;
  color: white;
  display: block;
  justify-content: center;
  text-align: center;
  padding: 0;
}
}